.main-card {
    border-radius: 45px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 850px;
    margin: auto;
    
    
    
}

.header-custom {
    background-color: #1C627B;
    color: white;
    padding: 50px;
    border-radius: 15px 15px 0 0;
    height: 400px;
    
}

.qr-code-box {
    background-color: #40AEC9;
    border-radius: 15px;
    padding: 20px;
    margin-left: 100px;
    padding-left: 85px;
    margin-right: 100px;

    
}

.qr-code-img {
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: 10px solid #FFFFFF;
    margin-left: 75px;
}

.action-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-top: 50px; /* Ajustez cette valeur selon vos besoins */
    height: 80px;
    margin-left: 170px; /* Ajustez cette valeur selon vos besoins */

}

.transaction-type {
    color: blue;
}

.transaction-amount.positive {
    color: blue;
}

.transaction-amount.negative {
    color: red;
}
.my-custom-margin {
    margin-top: 10px; /* Ajustez cette valeur selon vos besoins */
width: 800px;
margin-left: 170px; /* Ajustez cette valeur selon vos besoins */

}
.center-text {
    text-align: center; /* Centre le texte */
    margin-top: -20px; /* Déplace le texte vers le haut */
    font-size: 36px;
}
h1 {
    margin-top: -20px; /* Déplace le texte vers le haut */
    font-size: 36px;
}

/* border-radius: 15px; position: fixed; top: 40px; left: 50%; transform: translateX(-50%); z-index: 1000; width: 80%; max-width: 850px; */